/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
    width: 100%;
}

body {
    font-family: "Open Sans", "Helvetica Neue", serif;
    font-size: 1em;
    text-align: center;
}

.text {
    padding-bottom: 1em;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/

.film-image {
    background-image: url(http://i.imgur.com/Y51v4pI.gif?2) no-repeat;
    background-size: cover;
    background-color: black;
}

.masthead {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}

.masthead-header {
    font-size: 2.5em;
    text-align: center;
    padding-top: 25px;
    text-shadow: 1px 1px 1px #000000;
}

.masthead-subheader {
    font-size: 1.5em;
    text-align: center;
    color: darkslategray;
    font-weight: bold;
    letter-spacing: 1.25px;
    padding-top: 10px;
    padding-bottom: 15px;
}


/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

.intro-section,
.quiz-section,
.answerPopUp,
.results-section {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    background-color: darkgoldenrod;
    padding-top: 1em;
    margin-bottom: 4em;
    border-radius: 10px;
}

.intro-section > h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.25em;
    color: aliceblue;
}

.intro-section > h3 {
    margin-top: 1em;
    margin-bottom: 1.1em;
    font-weight: bolder;
    font-size: 1.15em;
    color: aliceblue;
}

.intro-section > button {
    margin-top: 1em;
    margin-bottom: 2em;
}

#result_msg > h3 {
    margin-bottom: 1.2em;
}

.start-button,
.continue-button {
    border-radius: 30px;
    border-style: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 10px;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 150px;
    color: goldenrod;
    background-color: black;
}

#choices {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 60%;
    color: aliceblue;
}

.question-number {
    color: aliceblue;
    padding-top: 1.2em;
}

.bigIncorrect {
    font-size: 1.2em;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/

footer > .film-image {
    background-image: url(http://i.imgur.com/Y51v4pI.gif?2) no-repeat;
    background-size: cover;
    background-color: black;
    margin-top: 20px;
}
